USE [master]
GO
/****** Object:  Database [Meteosis]    Script Date: 22.01.2024 13:43:43 ******/
CREATE DATABASE [Meteosis] ON  PRIMARY 
( NAME = N'Meteosis', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\Meteosis.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Meteosis_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\Meteosis_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Meteosis].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Meteosis]
GO
/****** Object:  Table [dbo].[Sehir]    Script Date: 22.01.2024 13:43:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sehir](
	[SehirId] [int] IDENTITY(1,1) NOT NULL,
	[Sehir] [nvarchar](50) NOT NULL,
	[data1] [float] NOT NULL,
	[data2] [float] NOT NULL,
	[data3] [float] NOT NULL,
	[data4] [float] NOT NULL,
	[data5] [float] NOT NULL,
	[data6] [float] NOT NULL,
	[data7] [float] NOT NULL,
	[data8] [float] NOT NULL,
	[data9] [float] NOT NULL,
	[data10] [float] NOT NULL,
 CONSTRAINT [PK_Sehir] PRIMARY KEY CLUSTERED 
(
	[SehirId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
